<nav class="navbar   navbar-expand-lg navbar-expand-md  navbar-dark bg-dark " style="padding-bottom:opx">
  <div fxLayoutAlign='center center' class="text">
    <h2>FundooAdmin</h2>
  </div>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active"></li>
    </ul>
  <div class="text">
    <div class="container-fluid-nav text-center">

      <div class="text-center">Question and Answer Approval</div>
    </div>
  </div>

  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active"></li>
  </ul>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="home()">Home</button>
</nav>

   
<div  style="margin-top:50px;background-color:#dbe2f0 ">
     
    
    <table id="example" class="table table-striped table-sm table-hover" style="background-color:white;font-family:cursive;font-size:1.2em " >
           <thead class="thead-dark">
            <tr >
              <th scope="col-1">S.No.</th>
              <th scope="col-5" >Question</th>
              <th scope="col-4" >Approve </th>
              <th scope="col-4" >Reject</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let array of questionsList | serchuser : searchword ; let i = index">
                <th scope="row">{{i+1}}</th>
                <td innerHtml='{{array.message}}'></td>
                <td><button type="button" class="btn btn-light" (click)='approve(array.id)'>Approve</button></td>
                <td><button type="button" class="btn btn-light" (click)='reject(array.id)'>Reject</button></td>
              </tr>
            </tbody>
    </table>
  </div> 



  












<!-- <nav class="navbar" style="height:60px;background-color:#030c20;">

        <h3 class="sample mr-auto" style="color:white;font-family:cursive;font-size:2em">fundooNotes
            </h3>
            <h3 class="sample mr-5" style="color:white;font-family:cursive;font-size:2em">
              Question And Answer Approval
            </h3>
             <button class="navbar-brand ml-auto" id="dashboard"
        style="background-color:#3b5998;color:white;font-family:cursive;font-size:2em">
        <h5> Dashboard</h5></button> 
      
      
      </nav> 
    
    
    
    <div   class="container-fluid card " style="margin-top:50px;background-color:#dbe2f0 ">
     
    
      <table id="example" class="table table-striped table-sm table-hover" 
             style="background-color:white;font-family:cursive;font-size:1.2em ">
             <thead class="thead-dark">
              <tr >
                <th scope="col-1">Serialno.</th>
                <th scope="col-7" >Question</th>
                <th scope="col-4" >Approve or Reject</th>
    
              </tr>
            </thead>
      </table>
    
    
    
    </div> -->
<!-- <app-loader  id="showLoader"></app-loader> -->