$blue : rgb(22, 22, 202);
$red : hsl(7, 100%, 50%);
$lightblue : rgb(28, 108, 173);
$bluebtn : rgb(37, 66, 161);
$mixblue :rgb(13, 97, 69);
$green:rgb(90, 112, 29);
$black:rgb(20, 20, 20);
$white:white;
$background-color:white;


$red:'#E53935';
$orange:'#EF6C00';
$yellow:"#FFEB3B";
$partGreen:"#B2FF59";
$teal:'#69F0AE';
$partblue:'#81D4FA';
$darkblue:'#0288D1';
$purple:'#B39DDB';
$pink:'#F48FB1';
$brown:'#FFAB40';
$gray:'#E0E0E0';

